body {
    background-color: blanchedalmond;
    text-align: center;
}

.container {
  width: 100%;
  height: 100vh;
}

.wrap {
    display: flex;
    height:auto;
    width: 100%;
    color: azure;
    justify-content: center;
    
}

.card {
    background-color: black;
    border: 2px solid white;
    padding: 30px;
    margin: 10px;
}